/* rgb(225, 81, 56) red
rgb(233, 202, 87) yellow
rgb(57, 165, 155) green
rgb(30, 94, 147)blue
rgb(22, 60, 90) dark*/



@media only screen and (max-width:991px) {
    


}
body{
    background:rgb(33, 33, 33);
}

#passHint{
    font-size: 100%;
    
}

#con{
    color:rgb(233, 202, 87);
}
#heading{
    /* background-color: rgb(233, 202, 87); */
    border-radius: 15px;
    color:rgb(33, 33, 33);

}

table{
    color:rgb(233, 202, 87); 
    width: auto;
    
}
button{
    background: rgb(233, 202, 87);
}

h1{
    color: rgb(233, 202, 87);
}
#examplemodal{
    background-color:rgb(33, 33, 33) ;
}